## Import Module

In [16]:
import numpy as np
import pandas as pd

## Data Preprocessing

In [50]:
data = pd.read_csv("data/S&P 500 Historical Data (US).csv", index_col='Date',parse_dates=True, dayfirst=False)
begin = "2010-01-01"
end = "2020-01-01"
data_index = data.index
data.index = data.index.to_period(freq="D") # 1(Day)일
series_list = []

In [51]:
print('Number of rows and columns:', data.shape)

Number of rows and columns: (2516, 6)

In [52]:
length = data.shape[0]
print(length)
data.head()

2516

               Price      Open      High       Low Vol. Change %
Date
2019-12-31  3,230.78  3,215.18  3,231.72  3,212.03    -    0.29%
2019-12-30  3,221.29  3,240.09  3,240.92  3,216.57    -   -0.58%
2019-12-27  3,240.02  3,247.23  3,247.93  3,234.37    -    0.00%
2019-12-26  3,239.91  3,227.20  3,240.08  3,227.20    -    0.51%
2019-12-24  3,223.38  3,225.45  3,226.43  3,220.51    -   -0.02%

In [53]:
for i in range(data.shape[0]):
            try:
                data['Price'][i] = pd.to_numeric(data['Price'][i].replace(',',''))
            except:
                0
price = data['Price'].astype(np.float64)
data['return'] = np.log(price/price.shift(-1))
data

              Price      Open      High       Low Vol. Change %    return
Date
2019-12-31  3230.78  3,215.18  3,231.72  3,212.03    -    0.29%  0.002942
2019-12-30  3221.29  3,240.09  3,240.92  3,216.57    -   -0.58% -0.005798
2019-12-27  3240.02  3,247.23  3,247.93  3,234.37    -    0.00%  0.000034
2019-12-26  3239.91  3,227.20  3,240.08  3,227.20    -    0.51%  0.005115
2019-12-24  3223.38  3,225.45  3,226.43  3,220.51    -   -0.02% -0.000195
...             ...       ...       ...       ...  ...      ...       ...
2010-01-08  1144.98  1,140.52  1,145.39  1,136.22    -    0.29%  0.002878
2010-01-07  1141.69  1,136.27  1,142.46  1,131.32    -    0.40%  0.003993
2010-01-06  1137.14  1,135.71  1,139.19  1,133.95    -    0.05%  0.000545
2010-01-05  1136.52  1,132.66  1,136.63  1,129.66    -    0.31%  0.003111
2010-01-04  1132.99  1,116.56  1,133.87  1,116.56    -    1.60%       NaN

[2516 rows x 7 columns]

In [54]:
data = data.iloc[::-1]
data

              Price      Open      High       Low Vol. Change %    return
Date
2010-01-04  1132.99  1,116.56  1,133.87  1,116.56    -    1.60%       NaN
2010-01-05  1136.52  1,132.66  1,136.63  1,129.66    -    0.31%  0.003111
2010-01-06  1137.14  1,135.71  1,139.19  1,133.95    -    0.05%  0.000545
2010-01-07  1141.69  1,136.27  1,142.46  1,131.32    -    0.40%  0.003993
2010-01-08  1144.98  1,140.52  1,145.39  1,136.22    -    0.29%  0.002878
...             ...       ...       ...       ...  ...      ...       ...
2019-12-24  3223.38  3,225.45  3,226.43  3,220.51    -   -0.02% -0.000195
2019-12-26  3239.91  3,227.20  3,240.08  3,227.20    -    0.51%  0.005115
2019-12-27  3240.02  3,247.23  3,247.93  3,234.37    -    0.00%  0.000034
2019-12-30  3221.29  3,240.09  3,240.92  3,216.57    -   -0.58% -0.005798
2019-12-31  3230.78  3,215.18  3,231.72  3,212.03    -    0.29%  0.002942

[2516 rows x 7 columns]

In [55]:
data.shape[0]

2516

In [56]:
data = data[begin:end]
series_list.append(data)
df = pd.concat(series_list, axis=1)
df = df.dropna()
df

              Price      Open      High       Low Vol. Change %    return
Date
2010-01-05  1136.52  1,132.66  1,136.63  1,129.66    -    0.31%  0.003111
2010-01-06  1137.14  1,135.71  1,139.19  1,133.95    -    0.05%  0.000545
2010-01-07  1141.69  1,136.27  1,142.46  1,131.32    -    0.40%  0.003993
2010-01-08  1144.98  1,140.52  1,145.39  1,136.22    -    0.29%  0.002878
2010-01-11  1146.98  1,145.96  1,149.74  1,142.02    -    0.17%  0.001745
...             ...       ...       ...       ...  ...      ...       ...
2019-12-24  3223.38  3,225.45  3,226.43  3,220.51    -   -0.02% -0.000195
2019-12-26  3239.91  3,227.20  3,240.08  3,227.20    -    0.51%  0.005115
2019-12-27  3240.02  3,247.23  3,247.93  3,234.37    -    0.00%  0.000034
2019-12-30  3221.29  3,240.09  3,240.92  3,216.57    -   -0.58% -0.005798
2019-12-31  3230.78  3,215.18  3,231.72  3,212.03    -    0.29%  0.002942

[2515 rows x 7 columns]